/*@font-face {
  font-family: BalooTamma2-Regular;
  src: url(BalooTamma2-Regular.ttf);
}*/

#bookDescription {
	-fx-border-color: "#FFFFFF";
}

Button.dashboard {
	-fx-background-color: "#FDF344";
	-fx-pref-height: 50;
	-fx-pref-width: 300;
}

Button.dashboard:hover {
	-fx-background-color: "#F0E637";
}

Button {
	-fx-background-color: "#FDF344";
}

Button:hover {
	-fx-background-color: "#F0E637";
}


ComboBox {
	-fx-background-color: "#FFFFFF";
	-fx-border-color: "#000000";
	-fx-border-radius: 4;
	-fx-border-width: 2;
}

#addCust {
	-fx-background-color: "#A4C2F4";
}

.borderRadius {
	-fx-border-radius: 40;
}

.margin {
	-fx-margin-bottom: 20;
}

#addCustLeft {
	-fx-border-radius: 6;
	-fx-background-color: "#FFFFFF";
}

#addCustRight {
	-fx-border-radius: 6;
	-fx-background-color: "#FFFFFF";
}


ImageView:hover {
	-fx-opacity: 0.8;
	transition: opacity .25s ease-in-out;
}

#logo {
	-fx-fitHeight: 100;
}

TextField, PasswordField {
	-fx-background-color: "#FFFFFF";
	-fx-border-color: "#000000";
	-fx-border-radius: 4;
	-fx-border-width: 2;
}

PasswordField {
	-fx-pref-width: 361;
}




